
:root {
  --bg: #0099ff;
  --textColor: black;
  --colorLight: rgb(0, 170, 255);

  --softBg: #f5fbff;
  --softTextColor: #454545;
  --dangerTextColor:#ff3737;


  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  word-spacing: 0px;
  letter-spacing: 0.5px;

  --successColor: #00CC66;
  
  --primaryColor: #0284c7;
  --primaryColorHover: #0369a1;
 --defalutTextColor: #334155;
 --defalutTextColorLight: #f8fafc;

 --selectedColor: #0284c7;

}



html, body {
  font-family:Arial, Helvetica, sans-serif;
  color: var(--defalutTextColor);
  /* height: 100%; */
  margin: 0;
  padding: 0;
}



/* .nav-top-m{
  margin-top: 3rem;
} */



label,option,span{
  font-size: 1rem;
}

/* .btn-primary {
  @apply border-none text-[1rem];
  background-color: var(--primaryColor);
  color:var(--defalutTextColorLight);
} */

.btn-primary:hover {
  background-color: var(--primaryColorHover);

  /* background-color: var(--primaryColor); */
}


.bg-primary{
  background-color: var(--primaryColor);
}

.text-default-light{
  color:var(--defalutTextColorLight);
}

.text-default{
  color:var(--defalutTextColor);
}

input:-webkit-autofill {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
  background-color: white(70, 6, 6);
  color: black;
}


/* 
* {
  scrollbar-width:thin;
  scrollbar-color: #ccc transparent; 
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent; 
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 40px;
} */

