
:root {
  --bg: #f5fbff;
  --textColor: black;
  --colorLight: white;

  --softBg: #f5fbff;
  --softTextColor: #454545;
  --dangerTextColor:#ff3737;


  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  word-spacing: 0px;
  letter-spacing: 0.5px;

  --successColor: #00CC66;
  
  --primaryColor: #0284c7;
  --primaryColorHover: #0369a1;
 --defalutTextColor: #334155;
 --defalutTextColorLight: #f8fafc;

 --selectedColor: #0284c7;

}

body{
  font-family:Arial, Helvetica, sans-serif;
  color: var(--defalutTextColor);
  /* background-color:#f1f5f9; */
  /* #f1f5f9 */

}

label,option,span{
  font-size: 1rem;
}

.btn-primary {
  @apply border-none text-[1rem];
  background-color: var(--primaryColor);
  color:var(--defalutTextColorLight);
}

.btn-primary:hover {
  background-color: var(--primaryColorHover);

  /* background-color: var(--primaryColor); */
}


.bg-primary{
  background-color: var(--primaryColor);
}

.text-default-light{
  color:var(--defalutTextColorLight);
}

.text-default{
  color:var(--defalutTextColor);
}




